# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# database
database/*.db

# node / ts
*.js
*.d.ts
node_modules/

# eslint
.eslintcache

