# private
inleverdocumenten/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
.venv/
venv/
ENV/

# database
database/*.db
database/*.db-journal
database/*.sqlext
database/avatars/*
!database/avatars/default.png

# node / ts
*.js
!next.config.js
*.d.ts
node_modules/
yarn-error.log

# eslint
.eslintcache

# next.js
.next/

# voerbak
voerbak/voerbak
voerbak/*.o
voerbak/tests/*

