acme==1.13.0
alabaster==0.7.12
altgraph==0.17
anytree==2.8.0
apipkg==1.5
appdirs==1.4.4
apsw==3.34.0.post1
arandr==0.1.10
argh==0.26.2
asn1crypto==1.4.0
asyncio-dgram==1.2.0
attrs==20.3.0
Babel==2.9.0
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
beets==1.5.0
binwalk==2.2.0
bottle==0.12.19
breezy==3.1.0
Brlapi==0.8.2
btrfsutil==5.11
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.2.1
cachy==0.3.0
cairocffi==1.2.0
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certbot==1.13.0
certbot-dns-netcup==1.1.0
certbot-nginx==1.13.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cleo==0.7.6
click==7.1.2
clikit==0.6.2
clint==0.5.1
colorama==0.4.4
coloredlogs==15.0
colour==0.1.5
commonmark==0.9.1
conan==1.34.0
ConfigArgParse==1.2.3
configobj==5.1.0.dev0
confuse @ file:///build/python-confuse/src/confuse/dist/confuse-1.4.0-py2.py3-none-any.whl
contextlib2==0.6.0.post1
coverage==5.5
crashtest==0.3.1
cryptography==3.4.6
css-parser==1.0.6
cssselect==1.1.0
cupshelpers==1.0
Cython==0.29.22
decorator==4.4.2
deemix==2.0.16
deezer-py==0.0.15
defusedxml==0.7.1
deprecation==2.1.0
diff-match-patch==20200713
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
docker==4.4.4
docker-compose==1.28.5
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docstring-to-markdown==0.7
docutils==0.16
downloader-cli==0.3.1
dulwich==0.20.20
entrypoints==0.3
etebase==0.31.2
etesync==0.12.1
etesync-dav==0.30.7
evdev==1.4.0
eventlet==0.30.2
eyeD3==0.9.5
fail2ban==0.11.2
fasteners==0.15
feedparser==5.2.1
ffmpeg-python==0.2.0
filelock==3.0.12
filetype==1.0.7
flashfocus==2.2.2
Flask==1.1.2
Flask-WTF==0.14.3
furl==2.1.0
future==0.18.2
google-api-core==1.26.1
google-api-python-client==1.12.8
google-auth==1.28.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==1.0.0
grpcio==1.34.0
grpcio-tools==1.34.0
gufw==21.4.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
httplib2==0.19.0
humanfriendly==9.1
i3ipc==2.2.1
idna==2.10
ifaddr==0.1.7
imagesize==1.2.0
importlib-metadata==3.7.2
iniconfig==1.1.1
isc==2.0
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.18.0
jedi-language-server @ file:///build/jedi-language-server/src/jedi-language-server-0.28.4/dist/jedi_language_server-0.28.4-py3-none-any.whl
jeepney==0.6.0
jellyfin-apiclient-python==1.7.0
jellyfin-mpv-shim==1.9.0
jellyfish==0.8.3
Jinja2==2.11.3
josepy==1.8.0
jsonschema==3.2.0
kamene==0.32
keyring==23.0.0
lark-parser==0.11.2
lensfun==0.3.95
libfdt==1.6.0
libvirt-python==6.4.0
lit==0.11.1.dev0
lockfile==0.12.2
louis==3.17.0
lutris==0.5.8.3
lxml==4.6.2
Mako==1.1.4
mallard-ducktype==1.0.2
manimce==0.1.1
Markdown==3.3.4
MarkupSafe==1.1.1
marshmallow==3.10.0
mcstatus==5.1.1
mechanize==0.4.5
mediafile @ file:///build/python-mediafile/src/mediafile/dist/mediafile-0.7.0-py2.py3-none-any.whl
mergedeep==1.3.4
meson==0.57.1
mock==3.0.5
monotonic==1.5
more-itertools==8.6.0
msgpack==1.0.2
munkres==1.1.4
musicbrainzngs==0.7.1
mutagen==1.45.1
namcap==3.2.10
neovim==0.3.1
netifaces==0.10.9
netsnmp-python==1.0a1
nftables==0.1
node-semver==0.8.0
nose==1.3.7
numpy==1.20.1
numpydoc==1.1.0
ordered-set==4.0.2
orderedmultidict==1.0.1
packaging==20.9
pangocairocffi==0.4.0
pangocffi==0.8.0
paramiko==2.7.2
parsedatetime==2.6
parsel==1.6.0
parso==0.8.1
passlib==1.7.4
pastel==0.2.0
patch-ng==1.17.4
pathtools==0.1.2
patiencediff==0.2.1
pbr==5.5.1
peewee==3.14.4
pep517==0.10.0
pexpect==4.8.0
Pillow==8.1.0
pkginfo==1.7.0
pluggy==0.13.1
pluginbase==1.0.0
ply==3.11
poetry==1.1.5
poetry-core==1.0.2
progress==1.5
progressbar==2.5
progressbar2==3.53.1
prompt-toolkit==3.0.17
protobuf==3.14.0
protontricks==1.4.4
psutil==5.8.0
ptyprocess==0.7.0
pwquality==1.4.4
py==1.10.0
pyalpm==0.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
PyBluez==0.23
pycairo==1.20.0
pychm==0.8.6
pycountry==20.7.3
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.9.9
pycups==2.0.1
pycurl==7.43.0.6
pydantic==1.8.1
pyDes==2.0.1
pydub==0.24.1
pyelftools==0.27
pygame==2.0.1
pygls==0.10.1
Pygments==2.7.2
PyGObject==3.40.0
pyinotify==0.9.6
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PyJWT==1.7.1
pylev==1.3.0
PyNaCl==1.4.0
pynvim==0.4.2
PyOpenGL==3.1.5
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt4-sip==4.19.25
PyQt5==5.15.4
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.4
pyRFC3339==1.1
pyrsistent==0.17.3
PySocks==1.7.1
pyte==0.8.0
pytest==6.2.2
pytest-mock==3.1.1
pytest-runner==5.2
python-dateutil==2.8.1
python-distutils-extra==2.39
python-dotenv==0.15.0
python-Levenshtein==0.12.2
python-mpd2==3.0.4
python-mpv==0.5.2
python-mpv-jsonipc==1.1.13
python-nmap==0.6.1
python-utils==2.5.6
python-xlib==0.29
pytz==2021.1
pywal==3.3.0
pyxdg==0.26
PyYAML==5.4.1
QuickWall==0.0.4
Radicale==3.0.6
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
regex==2020.11.13
requests==2.25.1
requests-futures==1.0.0
requests-toolbelt==0.9.1
resolvelib==0.5.4
retrying==1.3.3
rgw==2.0.0
rich==6.0.0
rsa==4.7.2
scapy===git-archive.dev3047580162
scipy==1.6.1
scour==0.38.2
screenkey==1.4
SecretStorage==3.3.1
selenium==3.141.0
selinux==3.2
semantic-version==2.8.5
setuptools-rust==0.11.6
setuptools-scm==5.0.2
shellingham==1.4.0
simber==0.2.1
simplejson==3.17.2
sip==6.0.3
six==1.15.0
slip==0.6.5
slip.dbus==0.6.5
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==3.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spotipy==2.17.1
stem==1.8.0
streamlink==2.0.0
systemd-python==234
team==1.0
termcolor==1.1.0
texttable==1.6.3
thefuck==3.30
toml==0.10.2
tomlkit==0.7.0
torrequest==0.1.0
tqdm==4.59.0
translate-toolkit==3.3.3
typeguard==2.10.0
typing-extensions==3.7.4.3
ueberzug==18.1.9
ufw==0.36
Unidecode==1.2.0
unrardll==0.1.4
uritemplate==3.0.1
urllib3==1.26.3
validate==5.1.0.dev0
vdf==3.3
virtualenv==20.4.3
vobject==0.9.6.1
w3lib==1.22.0
watchdog==0.10.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==1.0.1
wpgtk==6.2.3
WTForms==2.2.1
xcffib==0.11.1
xpybutil==0.0.6
youtube-dl==2021.2.22
ytmdl==2021.3.4
zeroconf==0.28.8
zipp==3.4.1
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.2.0
zope.proxy==4.3.5
