.navbar {
	width: 48px;
	height: 100%;

	line-height: 0;

	background-color: var(--background);
	display: inline-block;

	position: fixed;
	top: 0;
	left: 0;

	overflow: hidden;
	white-space: nowrap;
}

.navbar .noclick,
.navbar a {
	margin: 12px;
	margin-bottom: 16px;
	display: block;
}

.navbar .noclick:last-child,
.navbar a:last-child {
	margin-bottom: 12px;
}

.navbar .settings {
	position: absolute;
	bottom: 0;
	left: 0;
}

