:root {
    --text: #FCFFFD;
    --text-alt: var(--text);

    --page-background: #11171a;
    --background: #222d33;
    --background-alt: #4d5f69;

    --disk-a: #E16D82;
    --disk-a-text: #FDC0C4;
    --disk-b: #73D0C5;
    --disk-b-text: #C0FDEB;
}

