:root {
	--text: #FCFFFD;
	--page-background: var(--text);

	--background: #5D737E;
	--text-alt: var(--background);
	--background-alt: #81949E;

	--disk-a: #E16D82;
	--disk-a-text: #FDC0C4;
	--disk-b: #73D0C5;
	--disk-b-text: #C0FDEB;
}

/* default margin */
html, body {
	margin: 0;
	padding: 0;
}

/* navbar fix */
body { padding-left: 48px; }

/* font */
html {
	font-size: 14px;
	font-family: "Inter";
}

/* background color */
html { background-color: var(--page-background); }

/* link color fix */
a { color: var(--text); }

/* centering misschien */
.CenteredPageInner { text-align: center; }
.CenteredPageInner > * { text-align: left; }

/* line height reset */
h1, h2, p, span, td, th {
	margin: 0;
	line-height: 1.2;
}

/* table groottes met percentages werkt nu */
table { table-layout: fixed; }

/* table styles */
td, th {
	padding: 4px;
	font-size: 15px;
}

input::placeholder {
	font-style: italic;
	opacity: .8;
}

/* remove chrome's ugly :focus outline */
:focus { outline: none; }

/* icon size fix */
.navbar svg,
.gameBar svg { font-size: 24px; }

/* scroll balken */
::-webkit-scrollbar { width: 0 !important; }

