:root {
	--text: #FCFFFD;
	--page-background: var(--text);

	--background: #5D737E;
	--text-alt: var(--background);
	--background-alt: #81949E;

	--disk-a: #E16D82;
	--disk-a-text: #FDC0C4;
	--disk-b: #73D0C5;
	--disk-b-text: #C0FDEB;
}

/* default margin */
html, body {
	margin: 0;
	padding: 0;
}

/* navbar fix */
body {
	padding-left: 48px;
	background-color: var(--page-background);
}

/* font size */
html {
	font-size: 14px;
}

/* link color fix */
a {
	color: var(--text);
}

p {
	margin: 6px 0;
}
