.footer {
	margin-top: var(--spacing-large);
	margin: 0 auto;
	max-width: 800px;

	padding: 24px 48px;
}

.footer * {
	color: var(--text-alt);
}

.footer .header * {
	display: inline-block;
	vertical-align: top;
}

.footer .header h2 {
	margin-left: 6px;
}

.footer .header rect {
	fill: var(--page-background);
}

.footer .content {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 24px;
	margin-top: 12px;
}

.footer .content .pageLink span {
	margin-left: 6px;
	vertical-align: super;
}

.footer .content .pageLink {
	margin-top: 12px;
	display: block;
}

.versionString {
    font-feature-settings: 'tnum' on, 'lnum' on, 'salt' on;
    margin-left: var(--spacing-small);
}

.versionString span {
    margin-left: var(--spacing-small);
    font-style: normal;
}
