html {
	--text: #FCFFFD;
	--page-background: var(--text);

	--background: #5D737E;
	--text-alt: var(--background);
	--background-alt: #81949E;

	--disk-a: #E16D82;
	--disk-a-text: #FDC0C4;
	--disk-b: #73D0C5;
	--disk-b-text: #C0FDEB;
}

/* default margin */
html, body {
	margin: 0;
	padding: 0;
}

/* subsection font size */
h2 { font-size: 20px; }

/* subsubsection font size */
h3 {
	font-size: .9rem;
	padding-bottom: 6px;
}

/* global font zize */
p, b, i, span, td, th { font-size: 15px; }

/* navbar fix */
body { padding-left: 48px; }

/* font */
html { font-family: "Inter"; }

/* background color */
html { background-color: var(--page-background); }

/* link color fix */
a { color: var(--text); }

/* centering misschien */
.CenteredPageInner { text-align: center; }
.CenteredPageInner > * { text-align: left; }

/* line height reset */
h1, h2, h3, p, b, span, td, th {
	margin: 0;
	line-height: 1.2;
}

/* table groottes met percentages werkt nu */
table { table-layout: fixed; }

/* table styles */
td, th {
	padding: 4px;
	font-size: 15px;
}

input::placeholder {
	font-style: italic;
	opacity: .8;
}

/* remove chrome's ugly :focus outline */
:focus { outline: none; }

/* scroll balken */
::-webkit-scrollbar { width: 0 !important; }

/* material-ui default state */
svg.MuiSvgIcon-root { transition: none !important; }

input::placeholder { opacity: .75; }
input.dark::placeholder { color: var(--text); }
input.light::placeholder { color: var(--text-alt); }

/* editable field status */
*[contenteditable] { border-color: var(--background-alt); }
*[contenteditable="true"]:focus { border-color: var(--disk-a); }
*[contenteditable="true"] {
	background-color: var(--page-background);
	color: var(--text-alt);
	padding: 6px;
	border-radius: 6px;
	border-style: solid;
	border-width: 2px;
}

